/***************************** LAYOUT *****************/

html, body{
    /***clean sticky footer***/
	height: 100%; 
}

body{
    /***clean sticky footer***/
	margin:0px;
	padding:0px;
}

#wrapperWhite{
	background-color: white;
	border:5px solid black;
	color:black;

	/***clean sticky footer***/
	/*width:100%;*/
	min-height: 100%;
	height:auto !important;
	height:100%;
	margin:0px 0px -41px 0px;
}

#container{
	width:960px;
	margin-right:auto;
	margin-left:auto; 
		
	/***clean sticky footer***/
	width:100%;
	padding:0px 0px 41px 0px;
	min-width: 942px;
}

#innerContainer{
    /***clean sticky footer***/
	width: 942px;
	margin: 0px auto;
	overflow: hidden;
}

#footer{
    /***clean sticky footer***/
	width:100%;
    height:41px;
    min-width: 942px;
}

p{
	margin-bottom:15px; 
	font-size:13px;
}

/***************************** NAVIGATION *****************/

nav{
	text-align: center;
}

nav li{
	display:inline-block;
	margin-right:75px;
	margin-top:15px;
	margin-bottom:40px;
}

#wrapperWhite nav li a{
	display:inline-block;
	text-decoration:none;
	color:black;
	font-family: Georgia;
	font-size: 12px;
}

#wrapperWhite nav li a:hover{
	color:#615E5F;
}

/***************************** INDEX PAGE *****************/

#photosIndex{
	width:942px;
	height:600px;
	overflow:hidden;
	margin-top:30px;
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    filter: gray;  
    -webkit-filter: grayscale(100%); 

    /*easing transition to gray*/
    transition:0.7s all ease-in;
    -webkit-transition: 0.7s all ease-in;
    -o-transition: 0.7s all ease-in;
    -moz-transition: 0.7s all ease-in;
}

#photosIndex:hover{
	filter: none;  
    -webkit-filter: grayscale(0%); 

    /*easing transition to color*/
    transition:0.7s all ease-in;
    -webkit-transition: 0.7s all ease-in;
    -o-transition: 0.7s all ease-in;
    -moz-transition: 0.7s all ease-in;
}

#blurb{
   	padding-top:25px;
}

#blurb p{
	height:200px;
	color:#615E5F;
	text-align: center;
	letter-spacing: 4.0px;
	line-height: 30px;
	font-family:Georgia;
	font-size: 24px;
}

/***************************** PRODUCT PAGE *****************/

.productOverlay{
	background-color: #4A4749;
	opacity:0;
	display:block;
	color:#DDDDDD;
	font-family:Sans-serif;
	font-size:13px;
	text-transform: uppercase;
	padding-top:10px;
	padding-left:10px;
	text-decoration: none;
	position:absolute;
	top:0;
}

#productContainer a{
	text-decoration: none;
} 

#productContainer img{
	height:100%;
	width:100%;
}

#box1{
	width:218px;
	height:210px;
	margin-top:30px;
	margin-right:12px;
	margin-bottom:12px;
	margin-left:14px;
	box-shadow: 3px 8px 8px #BFBDBD;
	border:1px solid #F0F0F0;
	position:relative;
	float:left;
}

#box2{
	width:218px;
	height:264px;
	box-shadow: 3px 8px 8px #BFBDBD;
	border:1px solid #F0F0F0;	
	margin-top:30px;
	margin-right:12px; 
	margin-bottom:12px;
	position:relative;
	float:left;
}

#box3{
	width:218px;
	height:156px;
	box-shadow: 3px 8px 8px #BFBDBD;
	border:1px solid #F0F0F0;
	margin-top:30px;
	margin-right:12px;
	margin-bottom:12px;
	position:relative;
	float:left;
}

#box4{
	width:218px;
	height:220px;
	box-shadow: 3px 8px 8px #BFBDBD;
	border:1px solid #F0F0F0;	
	margin-bottom:12px;
	margin-right:12px;
	position:relative;
	margin-left:12px;
	margin-top:-190px;
	float:left;
}

#box5{
	width:218px;
	height:230px;
	box-shadow: 3px 8px 8px #BFBDBD;
	border:1px solid #F0F0F0;	
	margin-right:12px;
	margin-bottom:12px;
	margin-left:14px;
	position:relative;
	margin-top:-79px;
	float:left;
}

#box6{
	width:218px;
	height:220px;
	box-shadow: 3px 8px 8px #BFBDBD;
	border:1px solid #F0F0F0;	
	margin-right:12px;
	margin-bottom:12px;
	position:relative;
	margin-top:-26px;
	float:left;
}

#box7{
	width:218px;
	height:315px;
	box-shadow: 3px 8px 8px #BFBDBD;
	border:1px solid #F0F0F0;	
	margin-right:12px;
	margin-bottom:12px;
	position:relative;
	margin-top:-134px;
	float:left;
}

#box8{
	width:218px;
	height:290px;
	box-shadow: 3px 8px 8px #BFBDBD;
	border:1px solid #F0F0F0;	
	margin-top:30px;
	margin-right:12px;
	margin-bottom:12px;
	position:relative;
	float:left;
}

#box9{
	width:218px;
	height:210px;
	margin-right:12px;
	margin-bottom:12px;
	box-shadow: 3px 8px 8px #BFBDBD;
	border:1px solid #F0F0F0;
	position:relative;
	float:left;
}

#box10{
	width:218px;
	height:232px;
	margin-right:12px;
	margin-bottom:12px;
	margin-top:-57px;
	margin-left:14px;
	box-shadow: 3px 8px 8px #BFBDBD;
	border:1px solid #F0F0F0;	
	position:relative;
	float:left;
}

#box11{
	width:218px;
	height:200px;
	margin-right:12px;
	margin-bottom:12px;
	margin-top:-16px;
	box-shadow: 3px 8px 8px #BFBDBD;
	border:1px solid #F0F0F0;	
	position:relative;
	float:left;
}

#box12{
	width:218px;
	height:315px;
	margin-right:12px;
	margin-bottom:12px;
	margin-top:-29px;
	box-shadow: 3px 8px 8px #BFBDBD;
	border:1px solid #F0F0F0;	
	position:relative;
	float:left;
}

#box13{
	width:218px;
	height:150px;
	margin-bottom:12px;
	margin-right:12px;
	box-shadow: 3px 8px 8px #BFBDBD;
	border:1px solid #F0F0F0;	
	position:relative;
	float:left;
}

#box14{
	width:218px;
	height:210px;
	margin-bottom:12px;
	margin-right:12px;
	box-shadow: 3px 8px 8px #BFBDBD;
	border:1px solid #F0F0F0;	
	position:relative;
	float:left;
}

#box15{
	width:218px;
	height:200px;
	margin-bottom:12px;
	margin-top:-197px;
	margin-left:14px;
	box-shadow: 3px 8px 8px #BFBDBD;
	border:1px solid #F0F0F0;	
	position:relative;
	float:left;
}

/************************* PRODUCT X PAGE *******************/

#prodImage{
	background-color: white;
	margin-top:40px;
	padding-left: 210px;
	margin-left:50px;
	margin-right:50px;
}

#prodImage img{
	width:400px;
	height:400px;
}

#prodImage p { 
	position:absolute; 
	top:3px; 
	right:28px; 
	color:#555; 
	font:bold 13px/1 sans-serif;
}

/* magnifying glass icon */
.zoom:after {
	content:'';
	display:block; 
	width:33px; 
	height:33px; 
	position:absolute; 
	top:0;
	right:0;
	background:url("../zoom-master/icon.png");
}

.zoom img {
	display: block;
}

.zoom img::selection { background-color: transparent; }

#prodText{
	color:#615E5F;
	margin-left:50px;
	margin-right:50px;
}

#prodText p{
	margin-right:8px;
	margin-left:8px;
}

/*************************** ABOUT PAGE *******************/

#slideshowWrapper{
	margin-top:30px;
	height:600px;
	margin-bottom:30px;
}

#photos{
	float:left;
	width:842px;
	height:600px;
	overflow:hidden;
	position:relative;
}

#photos img{
	width:100%;
	height:100%;
}

button{
	background-color: transparent;
	border:none;
	margin-top:250px;
	display:block;
	float:left;
	outline-style: none;
}

button img{
	height:100px;
	width:30px;
}

#back{
	margin-right:20px;
	padding:0px;
	margin-left:0px;
}

#next{
	margin-right:0px;
	padding:0px;
	margin-left:20px;
}

.photoOverlayTop{
	background-color: #B8B4B6;
	opacity:.7;
	color:black;
	font-family: Sans-serif;
	font-size:13px;
	text-transform: uppercase;
	padding-top:10px;
	padding-left:10px;
	display:none;
	width:842px;
	position:absolute;
	top:0px;
	padding-bottom:7px;
}

.photoOverlayBottom{
	background-color: #B8B4B6;
	opacity:.7;
	color:black;
	font-family: Sans-serif;
	font-size:13px;
	text-transform: uppercase;
	padding-top:10px;
	padding-left:10px;
	display:none;
	width:842px;
	position:absolute;
	bottom:0px;
	padding-bottom: 7px;
}

#textInfo{
	color:#615E5F;
	padding:1px;
	margin-left:50px;
	margin-right:50px;
}

#textTitle{
	/*compensating for normalize css*/
	margin-top:0px;
}

#textInfo p{
	margin-right:8px;
	margin-left:8px;
}

/*************************** CONTACT PAGE *******************/

#contactInfo{
	padding-bottom:20px;
}

#contactInfo p{
	padding-top:10px;
	color:#615E5F;
	text-align: center;
	letter-spacing: 4.0px;
	line-height: 30px;
	font-family:Georgia;
	font-size: 21px;
	padding-bottom:20px;
}

iframe, object, embed{
	max-width: 100%;
}

#map{
	width:912px;
	height:604px;
	margin-left:14px;
	margin-bottom:80px;
}

iframe{
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    filter: gray;  
    -webkit-filter: grayscale(100%); 

    /*easing transition to gray*/
    transition:0.7s all ease-in;
    -webkit-transition: 0.7s all ease-in;
    -o-transition: 0.7s all ease-in;
    -moz-transition: 0.7s all ease-in;
}

iframe:hover{
	filter: none;  
    -webkit-filter: grayscale(0%); 

    /*easing transition to color*/
    transition:0.7s all ease-in;
    -webkit-transition: 0.7s all ease-in;
    -o-transition: 0.7s all ease-in;
    -moz-transition: 0.7s all ease-in;
}

.contactHeader{
    text-align: center;
	font-size:34px;
	font-family: Georgia;
	padding-top: 2px;
}

#contactForm ul{
	/*overriding normalize left padding 40px*/
	padding:0px;
	list-style-type: none;
}

#contactForm ul .inputForm{
	width:300px;
	float:left;
	margin-left: 7px;
}

#contactForm ul .inputForm input{
	background-color: black;
	color:white;
	font-size: 12pt;
	text-align: left;
	padding-top:13px;
	padding-bottom:13px;
	margin-top: 1px;
	margin-bottom:1px;
	width: 100%;
	display:block;
	border:none;
}

textarea{
	background-color:black;
	color:white;
	font-size:12pt;
	text-align: left;
	width:912px;
	height:125px;
	margin-left:7px;
	padding-top:95px;
	margin-top:1px;
	margin-bottom:1px;
	resize:none;
}

#contactForm ul #btnSubmitLi input{
	text-align:center;
	background-color:white;
	color:#615E5F;
	width:918px;
	margin-left:7px;
	margin-top:1px;
	margin-bottom:1px;
	padding-top:10px;
	padding-bottom:10px;
	border:none;
}

/*************************** MEDIA QUERIES *******************/

@media only screen and (min-width: 768px) and (max-width: 959px){
	
	/***************************/
	/***layout and navigation***/
	/***************************/
	#container{
		width: 768px;
        transition: width .5s;

		/***clean sticky footer***/
		width:100%;
		padding:0px 0px 41px 0px;
		min-width: 750px;	
	}

	#innerContainer{
		width:750px;
		margin: 0px auto;
		overflow: hidden;
	}

	nav li{
		display:inline-block;
		margin-right:50px;
		margin-top:15px;
		margin-bottom:40px;
	}	

	#footer{
    	/***clean sticky footer***/
		width:100%;
    	height:41px;
    	min-width: 750px;
	}

	/****************/
    /***index page***/
    /****************/
	#photosIndex{
		width: 700px;
		margin-right: auto;
		margin-left: auto;
		height: 466px;
		overflow:hidden;
	} 

	#photosIndex img{
		width: 700px;
	}

	#blurb{
		margin-left:30px;
		margin-right:30px;
	}

	#blurb p{
		font-size: 21px;
	}
			
 	/********************/
	/***product page*****/
	/********************/
	#box1{
		margin-right:18px;
		margin-left:25px;
	}
	
	#box2{
		margin-right:18px;
	}

	#box4{
		margin-left:235px;
		margin-top:-205px;
	}
	
	#box5{
		margin-right:18px;
		margin-left:0px;
		margin-top:5px;
	}
	
	#box6{
		margin-top:-102px;
	}
	
	#box7{
		margin-top:5px;
	}

	#box8{
		margin-right:18px;
		margin-left:25px;
		margin-top:-49px;
	}
	
	#box9{
		margin-right:18px;
		margin-left:25px;
		margin-top:-202px;
	}
	
	#box10{
		margin-top:-210px;
		margin-left:0px;
		margin-right:18px;
	}
	
	#box11{
		margin-top:4px;
	}
	
	#box12{
		margin-top:-190px;
		margin-left:25px;
		margin-right:18px;
	}
	
	#box13{
		margin-top:-178px;
	}

	#box14{
		margin-top:-11px;
	}
	
	#box15{
		margin-left:25px;
		margin-top:-70px;
		margin-right:18px;
	}
		
	/********************/
	/***product x page***/
	/********************/
	#prodImage{
		padding-left: 110px;
	}

	/****************/
	/***about page***/
	/****************/
	#slideshowWrapper{
		height:466px;
	}

	#photos{
		float:left;
		width:666px;
		height:466px;
		overflow:hidden;
		position:relative;
	}

	button{
		margin-top:205px;
	}

	button img{
		height:70px;
		width:22px;
	}

	.photoOverlayTop{
		padding-top:2px;
		padding-left:6px;
		padding-bottom:2px;
		width:666px;
		padding-bottom:2px;
	}

	.photoOverlayBottom{
		padding-top:2px;
		padding-left:6px;
		width:666px;
		padding-bottom: 2px;
	}
	
	/******************/
	/***contact page***/
	/******************/
	#contactInfo p{
		font-size: 19px;
		padding-bottom:20px;
	}

	.contactHeader{
		font-size:30px;
	}

	#map{
		width:700px;
		margin-left:20px;
		margin-bottom:70px;
	}

	#contactForm ul .inputForm{
		width:240px;
	}

	#contactForm ul .inputForm input{
		font-size: 11pt;
		/*correcting ios padding*/
		padding-left:0px;
	    padding-right:0px;
	}

	textarea{
		font-size:11pt;
		width: 731px;
    }

	#contactForm ul #btnSubmitLi input{
    	width: 735px;
	}

}

@media only screen and (min-width: 480px) and (max-width: 767px){
	
	/***************************/
	/***layout and navigation***/
	/***************************/
	#container{
		width: 480px;
		transition: width .5s;

		/***clean sticky footer***/
		width:100%;
		padding:0px 0px 41px 0px;
		min-width: 462px;	
	}

	#innerContainer{
		width:462px;
		margin: 0px auto;
		overflow: hidden;
	}

	#footer{
    	/***clean sticky footer***/
		width:100%;
    	height:41px;
    	min-width: 462px;
	}

	nav li{
		display:inline-block;
		margin-right:25px;
		margin-top:15px;
		margin-bottom:40px;
	}	

    /****************/
    /***index page***/
    /****************/
	#photosIndex{
		width: 430px;
		height: 288px;
		margin-right: auto;
		margin-left: auto; 
	} 

	#photosIndex img{
		width: 430px;
	} 

    #blurb{
    	margin-left:20px;
		margin-right:20px;
	}

	#blurb p{
		font-size: 18px;
	}

	/********************/
	/***product page*****/
	/********************/
	#box1{
		margin-right:20px;
		margin-left:20px;
		width:200px;
		height:192px;
	}
	
	#box2{
		width:200px;
		height:241px;
	}

	#box3{
		width:200px;
		height:142px;
		margin-left:20px;
		margin-right:20px;
		margin-top:-46px;
	}

	#box4{
		margin-left:0px;
		margin-top:3px;
		width:200px;
		height:201px;
	}
	
	#box5{
		width:200px;
		height:210px;
		margin-right:20px;
		margin-left:20px;
		margin-top:-168px;
	}
	
	#box6{
		width:200px;
		height:201px;
		margin-top:1px;
	}
	
	#box7{
		width:200px;
		height:288px;
		margin-top:-156px;
		margin-left:18px;
		margin-right:20px;
	}

	#box8{
		width:200px;
		height:265px;
		margin-right:0px;
		margin-left:0px;
		margin-top:3px;
	}
	
	#box9{
		width:200px;
		height:192px;
		margin-right:20px;
		margin-left:20px;
		margin-top:5px;
	}
	
	#box10{
		width:200px;
		height:212px;
		margin-top:-140px;
		margin-left:0px;
		margin-right:0px;
	}
	
	#box11{
		width:200px;
		height:183px;
		margin-top:4px;
	}
	
	#box12{
		width:200px;
		height:288px;
		margin-top:-69px;
		margin-left:20px;
		margin-right:20px;
	}
	
	#box13{
		width:200px;
		height:137px;
		margin-top:5px;
	}

	#box14{
		width:200px;
		height:192px;
		margin-top:5px;
	}

	#box15{
		width:200px;
		height:183px;
		margin-left:20px;
		margin-top:-127px;
		margin-right:20px;
	}

	/********************/
	/***product x page***/
	/********************/
	#prodImage{
		padding-left: 22px;
	}

	#prodImage img{
		width:300px;
		height:300px;
	}
	
	/****************/
	/***about page***/
	/****************/
	#slideshowWrapper{
		height:288px;
	}

	#photos{
		float:left;
		width:416px;
		height:288px;
		overflow:hidden;
		position:relative;
	}

	button{
		margin-top:138px;
	}

	button img{
		height:37px;
		width:11px;
	}

	#back{
		margin-right:12px;
	}

	#next{
		margin-left:12px;
	}

	.photoOverlayTop{
		text-transform: none;
		font:12px;
		width:416px;
		padding-top:2px;
		padding-left:6px;
		padding-bottom:2px;
	}

	.photoOverlayBottom{
		text-transform: none;
		font:12px;
		width:416px;
		padding-top:2px;
		padding-left:6px;
		padding-bottom:2px;
	}

	#textInfo{
		margin-left:30px;
		margin-right:30px;
	}

    /******************/
	/***contact page***/
	/******************/
	#contactInfo{
		margin-left:10px;
		margin-right:10px;
		padding-bottom:5px;
	}

	#contactInfo p{
		font-size: 16px;
		padding-bottom:16px;
	}

	.contactHeader{
		font-size:26px;
	}

	#map{
		width:420px;
		margin-left:18px;
		margin-bottom:50px;
	}
	
	#contactForm ul .inputForm{
	    width:440px;
		margin-left:0px;
	}

	#contactForm ul .inputForm input{
		font-size: 11pt;
		margin-left:11px;
		padding-left:0px;
	    padding-right:0px;
	}

	textarea{
		font-size:11pt;
		width:435px;
		margin-left:11px;
	}

	#contactForm ul #btnSubmitLi input{
    	width: 440px; 
		margin-left:11px;
	}	

}

@media screen and (min-width: 320px) and (max-width: 479px){

	/***************************/
	/***layout and navigation***/
	/***************************/
	#container{
		width: 320px;
		transition: width .5s;

		/***clean sticky footer***/
		width:100%;
		padding:0px 0px 41px 0px;
		min-width: 302px;	
	}

	#innerContainer{
		width:302px;
		margin: 0px auto;
		overflow: hidden;
	}

	#footer{
    	/***clean sticky footer***/
		width:100%;
    	height:41px;
    	min-width: 302px;
	}

	nav li{
		display:block;
		margin-left:26px;
		margin-top:15px;
		margin-bottom:40px;
	}	

	/****************/
    /***index page***/
    /****************/
	#photosIndex{
		width: 274px;
		margin-right: auto;
		margin-left: auto;
		height: 184px;
	} 

	#photosIndex img{
		width: 274px;
	}

	#blurb p{
		letter-spacing: 3.0px;
		font-size: 14px;
		margin-left:8px;
		margin-right:8px;
	}

  	/********************/
	/***product page*****/
	/********************/
	#box1{
		margin-left:40px;
	}
	
	#box2{
		margin-left:40px;
		margin-top:0px;
	}

	#box3{
		margin-left:40px;
		margin-top:0px;
	}

	#box4{
		margin-left:40px;
		margin-top:0px;
	}
	
	#box5{
		margin-left:40px;
		margin-top:0px;
	}
	
	#box6{
		margin-left:40px;
		margin-top:0px;
	}
	
	#box7{
		margin-left:40px;
		margin-top:0px;
	}

	#box8{
		margin-left:40px;
		margin-top:0px;
	}
	
	#box9{
		margin-left:40px;
		margin-top:0px;
	}
	
	#box10{
		margin-left:40px;
		margin-top:0px;
	}
	
	#box11{
		margin-left:40px;
		margin-top:0px;
	}
	
	#box12{
		margin-left:40px;
		margin-top:0px;
	}
	
	#box13{
		margin-left:40px;
		margin-top:0px;
	}

	#box14{
		margin-left:40px;
		margin-top:0px;
	}

	#box15{
		margin-left:40px;
		margin-top:0px;
	}

	/********************/
	/***product x page***/
	/********************/
	#prodImage{
		padding-left: 0px;
	}

	#prodImage img{
		width:200px;
		height:200px;
	}

	#prodImage p { 
		top:1px; 
		right:20px; 
	}

	/****************/
	/***about page***/
	/****************/
	#slideshowWrapper{
		height:184px;
	}

	#photos{
		float:left;
		width:264px;
		height:184px;
		overflow:hidden;
		position:relative;
	}

	button{
		margin-top:90px;
	}

	button img{
		height:27px;
		width:9px;
	}

	#back{
		margin-right:10px;
		padding:0px;
		margin-left:0px;
	}

	#next{
		margin-right:0px;
		padding:0px;
		margin-left:10px;	
	}

	.photoOverlayTop{
		/* not showing caption since picture is so small */
		opacity:0;
		padding-top:1px;
		text-transform: none;
		font:12px;
		padding-left:2px;
		width:264px;
		padding-bottom:1px;
	}

	.photoOverlayBottom{
		/* not showing caption since picture is so small */
		opacity:.0;
		text-transform: none;
		padding-top:1px;
		font:12px;
		padding-left:2px;
		width:264px;
		padding-bottom: 1px;
	}

	#textInfo{
		margin-left:10px;
		margin-right:10px;
	}

	/******************/
	/***contact page***/
	/******************/
	#contactInfo{
		margin-left:14px;
		margin-right:14px;
		padding-bottom:10px;
	}

	#contactInfo p{
		letter-spacing: 3.0px;
		font-size: 14px;
		padding-bottom:2px;
	}

	.contactHeader{
		font-size:18px;
		padding-top: 11px;
	}

	#map{
		width:258px;
		margin-left:20px;
		margin-bottom:40px;   
	}

	#contactForm ul .inputForm{
	 	width:280px;
		margin-left:0px;
	}

	#contactForm ul .inputForm input{
		font-size: 11pt;
		margin-left:11px;
		padding-left:0px;
	    padding-right:0px;
	}

	textarea{
		font-size:11pt;
		width:276px;
		margin-left:11px;
	}

	#contactForm ul #btnSubmitLi input{
    	width:280px;
		margin-left:11px;
	}
	
} /*end of media query */